/* Created by L.H.S on 2017/8/16.
 * styles in common
 */

.main_content {
    width: 1140px;
    margin: 0 auto;
}

button {
    outline: none;
    border: none;
}

button.red {
    width: 220px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #df2d2d;
}

.blockquote {
    font-size: 18px;
    color: #333;
    border-left: 4px solid #f03d37;
    padding-left: 6px;
    line-height: 18px;
    margin: 20px 0;
}

.active {
    color: #ef4238;
}

a {
    cursor: pointer !important;
}

.not_login {
    font-size: 24px;
    color: #d8d8d8;
    margin: 20px 0;
}

.form_line {
    width: 310px;
    margin: 15px auto;
}

.form_line label {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
}

.form_line input {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
}

/* 下拉框 */
.combox {
    margin: 0 0;
}

.combox label {
    position: relative;
    top: 10px;
}

.combox button {
    display: inline-block;
    height: 35px;
    width: 400px;
    border: 1px solid #1591ee;
    border-radius: 0;
    outline: none;
    padding-left: 5px;
    float: none !important;
    text-align: left;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.combox button .fa {
    font-size: 18px;
    float: right;
    position: relative;
    top: 3px;
}

.combox button:hover,
.combox button:focus {
    background-color: #fff !important;
    border: 1px solid #1591ee !important;
    -webkit-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    -moz-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
}

.combox .dropdown-menu {
    max-height: 200px;
    overflow: auto;
}