<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuc.mapper.UserMapper">
    <!-- 这里namespace必须是UserMapper接口的路径” -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(username,nickname,location,telephone,password,type)
        VALUES (#{username},#{nickname},#{location},#{telephone},#{password},#{type})
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE user SET
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="location != null">location=#{location},</if>
            <if test="telephone != null">telephone=#{telephone},</if>
            <if test="password != null">password=#{password},</if>
            <if test="type != null">type=#{type}, </if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="resetPass">
        UPDATE user SET  password = #{1} WHERE id = #{0}
    </update>


    <select id="getUserByUsername"  resultType="User">
        SELECT * FROM user where username = #{0}
    </select>



    <delete id="removeUser">
        DELETE FROM user WHERE id = #{0}
    </delete>
</mapper>